
* {
    padding: 0;
    margin: 0;}

body{
    font-family: roboto;
}
.mystyle::placeholder {
        color: red;
        opacity: 0.6;
        font-weight: 500 ;
      }

      /*Disclaimer*/
#Warning {
    background-color: black;
    font-size: 1.2rem;
    font-weight: 600;
    color: #00ff80;
}


    /*Navbar*/
.navbar{
    position: relative;
    top:-7px;
    background-color: #05386B !important;
    padding-top: 2px;
    padding-bottom: 2px;
}
.navbar-brand{
    background-color: #05386B;
    font-family: cursive;
    color:white !important;
    padding: 0.5%;
    border-radius: 5%;
    font-weight: 900;
    font-size: 1.7rem;
    }

.navbar-brand:hover{
   /* box-shadow: 0px 0px 10px 4px #190299;*/
    /*box-shadow: 0px 0px 10px 4px #d6d4e0;
    
    text-shadow: 3px 3px 3px rgb(158, 152, 152);
    text-shadow: 2px 2px 2px rgb(175, 162, 162);*/
    text-shadow: 3px 3px 3px rgb(185, 118, 16);

}  

#search-box{
    height:40px !important;
    margin-top: 5px;
}

#Search-logo{
    margin-right: 5vw;
    border-width: 4px;
    color: white;
    border-color: white;
    border-radius: 20px;
    font-size: 22px;
}

input[type="search"] {
    width:20vw;
}

#Profile-logo{
    border-width: 4px;
    border-radius: 50%;
    color: white;
    border-color: white;
}

    /*Main body*/

#inner-box {
    height:130vh;
    width:98.9vw;
    background-size: cover;
    /*padding: 14%;
    padding-left: 7%;
    color:rgba(71, 38, 38,0.86);*/
    font-size: 11vh;
    font-weight: 700;
    
    padding: 0% 0 1%;
    background-color: #f0f0f0;
    position: relative;
    top:-7px;
    
    
    }
video{
    height:100%;
    width:100%
}
/*#inner-box1{
    width:50vw;
    display: inline-block;
}
#inner-box2 {
    
    min-width: 100%; 
    min-height: 100%;
  }

#welcome{
    width:50vw;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#Page-name{
    width:50vw;
    font-size: 13vh;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
*/
    /*Graphs*/
#Top-stocks{
    margin-top: 2%;
    font-size: 4vw;
    text-shadow: 3px 3px 3px rgb(158, 152, 152);
    font-weight: 600;
    /*color: #edf5e1;*/
    border-bottom: 4px dashed rgb(87, 85, 85);
    color:black;
    
}
#Top-stocks:hover{
    font-size: 5.2vw;
    border-color: #2f302f;
}

.Stock-name{
    font-size: 3vw;
}

#Graphs{
    height: 1650px;
    width: 63.5vw;
    padding-bottom: 5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    /*Sidebar*/

#Graph1{
    
    padding: 2%;
    width:80%;
    background-color: white;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#Graph1:hover{
    /*background-color: #f0f0f0;*/
    padding: 2%;
    width:81%;
    height: 33vw;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


#Graph2{
    background-color: white;
    padding: 2%;
    width:80%;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#Graph2:hover{
    /*background-color: #00ff80;*/
    padding: 2%;
    width:81%;
    height: 33vw;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#Graph3{
    background-color: white;
    padding: 2%;
    width:80%;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#Graph3:hover{
    /*background-color: #00ff80;*/
    padding: 2%;
    width:81%;
    height: 33vw;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#major-stocks{
    border-bottom: 2px solid grey;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #edf5e1;

}

#Main-Body{
    
    display: flex;
}
aside{

    float: right;
    margin: 20px;
    margin-top: 50px;
    width: 500px;
    height: 90%;
    /*background-color: #dfe2e1;*/
    background-color: #05386B;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
}


aside marquee{
    height: 100%;
}

#Stock-price {
    padding-left: 30px;
    color: #edf5e1;
    font-weight: 600;
    font-size: 1.6rem;
}

.up{
    color:#00ff80;
}
.down{
    color:red;
}

    /*Comments*/

/*#Comments{
    background-image: url(../sources/Pictures/Comments2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:48vw;
}
*/
#Comments1{
    background-color: #f0f0f0;
    height:48vw;
    padding: 2% 4%;
}
#Comments-inner{
    height:80%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.Comments{
    padding: 3%;
    height:31vw;
    width: 28vw;
    background-color: white;
    border-radius: 10px;
    
}
.Comments:hover{
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Stars{
    color: orange;
    width:100%;
}
.star{
    font-size: 1.5vw;
}
.com-prof{
    width:5vw;
    height:5vw;
    border-radius: 50%;
}
#com-h{
    font-size: 3.5vw;
}
#com-p{
    font-size: 1.5vw;
    color:rgb(99, 102, 104);
}
.fontSize{
    font-size: 1.5vw;
}
.com-pp{
    margin-top: 10px;
}
.designation{
    color:rgb(161, 164, 167);
    font-size: 1.33vw;
}
    /*Footer*/
footer {
    height: auto;
    background-color: rgb(24, 23, 23,1);
    padding: 30px;
    font-weight: bolder;
    color:white;

}
