
* {
    padding: 0;
    margin: 0;}

body{
    font-family: roboto;
}
.mystyle::placeholder {
        color: red;
        opacity: 0.6;
        font-weight: 500 ;
      }

      /*Disclaimer*/
#Warning {
    background-color: black;
    font-size: 1.2rem;
    font-weight: 600;
    color: #00ff80;
    z-index: 1;
}


    /*Navbar*/
.navbar{
    position: relative;
    top:-7px;
    background-color: #05386B !important;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 2;
}
.navbar-brand{
    background-color: #05386B;
    font-family: cursive;
    color:white !important;
    padding: 0.5%;
    border-radius: 5%;
    font-weight: 900;
    font-size: 1.7rem;
    }

.navbar-brand:hover{
    text-shadow: 3px 3px 3px rgb(185, 118, 16);

}  

#search-box{
    height:40px !important;
    margin-top: 5px;
}

#Search-logo{
    margin-right: 5vw;
    border-width: 4px;
    color: white;
    border-color: white;
    border-radius: 20px;
    font-size: 22px;
}

input[type="search"] {
    width:20vw;
}

#Profile-logo{
    border-width: 4px;
    border-radius: 50%;
    color: white;
    border-color: white;
}
#user-main{
    position: relative;
    height: auto;
    width: auto;
}


#user-name{
    display:none;
    position: absolute;
    bottom: -38px;
    right: 0px;
    text-align: center;
    background-color: rgb(230, 227, 227);
    font-size: 1.5vw;
    width: 18vw;
    height: 38px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

    /*Video-section*/

#inner-box {
    background-size: cover;
    /*height:116vh;
    width:98.9vw;*/
    font-size: 11vh;
    font-weight: 700;
    
    padding:0 0 0% 0;
    background-color: #f0f0f0;
    position: relative;
    top:-10px;
    margin-bottom: -10px;
    
    
    }
video{
    height:100%;
    width:100%
}

    /*Main-Body*/


#Main-Body{
    background-color: white;
    display: flex;
    border-top: 4vh solid #f0f0f0;
    position: relative;
    top: -30vh;
    z-index: 2;
    margin-bottom: -30vh;
}
#Top-stocks{
    margin-top: 2%;
    font-size: 4vw;
    text-shadow: 3px 3px 3px rgb(158, 152, 152);
    font-weight: 600;
    /*color: #edf5e1;*/
    border-bottom: 4px dashed rgb(87, 85, 85);
    color:black;
    
}
#Top-stocks:hover{
    font-size: 5.2vw;
    border-color: #2f302f;
}

        /*Graphs-section*/

.Stock-name{
    font-size: 3vw;
}

#Graphs{
    height: 1650px;
    width: 63.5vw;
    padding-bottom: 5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#Graph1{
    
    padding: 2%;
    width:80%;
    background-color: white;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#Graph1:hover{
    /*background-color: #f0f0f0;*/
    padding: 2%;
    width:81%;
    height: 33vw;
    box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


#Graph2{
    background-color: white;
    padding: 2%;
    width:80%;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#Graph2:hover{
    /*background-color: #00ff80;*/
    padding: 2%;
    width:81%;
    height: 33vw;
    box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#Graph3{
    background-color: white;
    padding: 2%;
    width:80%;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#Graph3:hover{
    /*background-color: #00ff80;*/
    padding: 2%;
    width:81%;
    height: 33vw;
    box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

        /*Sidebar*/

#major-stocks{
    border-bottom: 2px solid grey;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #edf5e1;
    /*font-size: 2.7vw;*/

}

aside{

    float: right;
    margin: 20px;
    margin-top: 50px;
    width: 500px;
    height: 90%;
    /*background-color: #dfe2e1;*/
    background-color: #05386B;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
}


aside marquee{
    height: 100%;
}

#Stock-price {
    padding-left: 30px;
    color: #edf5e1;
    font-weight: 600;
    font-size: 1.6rem;
}

.up{
    color:#00ff80;
}
.down{
    color:red;
}
    /*Comments-section*/


#Comments1{
    background-color: #f0f0f0;
    height:48vw;
    padding: 2% 4%;
}
#Comments-inner{
    height:80%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.Comments{
    padding: 3%;
    height:31vw;
    width: 28vw;
    background-color: white;
    border-radius: 10px;
    
}
.Comments:hover{
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Stars{
    color: orange;
    width:100%;
}
.star{
    font-size: 1.5vw;
}
.com-prof{
    width:5vw;
    height:5vw;
    border-radius: 50%;
}
#com-h{
    font-size: 3.5vw;
}
#com-p{
    font-size: 1.5vw;
    color:rgb(99, 102, 104);
}
.fontSize{
    font-size: 1.5vw;
}
.com-pp{
    margin-top: 10px;
}
.designation{
    color:rgb(161, 164, 167);
    font-size: 1.33vw;
}
        /*Footer*/
footer {
    height: auto;
    background-color: rgb(24, 23, 23,1);
    padding: 30px;
    font-weight: bolder;
    color:white;

}
