*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body::-webkit-scrollbar {
    display: none;
}
body{
    font-family:"Roboto";
    /* background-image: url("../sources/Pictures/money-4.jpg"); */
    background-color: #5CDB95;
}
.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.boxShadow2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.textShadow {
    text-shadow: 0px 1px 7px rgb(76, 80, 76);
}

/* Navbar */
#navbar{
    width: 100%;
    min-height: 8vh;
    background-color:#05386B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-size: 2em;
    letter-spacing: 1.5px;
    position: fixed;
    top: 0;
    z-index: 4;
    

}
.logo{
    list-style-type: none;
    font-size: 33px;
    font-family: cursive;
}
.nav-link{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
}
.nav-link input{
    height: 40px;
    width: 250px;
    outline: none;
    border: none;
    background-color:  white;
    color: #05386B;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 17px;
    text-transform: capitalize;
}

/* Search and result */
.res{
    width: 250px;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.1s;
    overflow: scroll;
    
}
.res::-webkit-scrollbar{
    display: none;
}
.res-list{
    position: absolute;
    color: black;
    font-size: 0.45em;
    width: 100%;
    display: none;
}
.res-list li{
    padding: 5px;
    list-style-type: none;
    /* border-top: 1px solid gray; */

    height: 30px;
    overflow-x: scroll;
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
.res-list li::-webkit-scrollbar {
    display: none;
}
.res-list li:hover{
    background-color: rgb(236, 236, 236);
}


.nav-link ::placeholder{
    color: lightgrey;
}
.nav-link button{
    height: 0px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color:white;
    cursor: pointer;
    color:black;
    font-weight: bold;
}
.nav-link button:active{
    background-color:#05386B ;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.2s;
}
.burger{
    display: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
}




/* main */
main{
    height: 100vh;
    width: 90vw;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
    position: relative;
}
.chart-info{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 95%;
    width: 30%;
    /* border:1px solid lightgray; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 2px 2px #888888; */
    background-color: #05386B;
    overflow-x: auto;
    color: white;
    display: flex;
    
}
.info{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    padding: 25px 10px 20px 25px;
    overflow: scroll;
}
.info::-webkit-scrollbar{
    display: none;
}
.info:nth-child(2){
    background-color:#c27474;
    
}

.chart-info h2{
    font-size: 33px;
}

.chart-info::-webkit-scrollbar{
    display: none;
}
.chart-graph{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#myChart{
    box-sizing:border-box;
}
.chart-container{
    margin-top: 20px;
    position: relative; 
    height:55%; 
    width:100%;
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 2px #888888; */

}
#chart-overlay{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-range{
    display:flex;
    width: 250px;
    justify-content: space-around;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    /* box-shadow: 0px 0px 1px 1px #888888; */
    z-index: 2;
    
}
.time-range li{
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    width: 50px;
    border-right: 1px solid black;
    transition: all 0.3s;
}

.stock-compare{
    margin-top: 20px;
    height:37%; 
    width:100%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 2px 2px #888888; */
    display: flex;
    flex-direction: column;
}
.comp{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}
.comp h2{
    text-align: left;
    margin: 30px 0px 0px 40px;
    font-size: 33px;
}
.comp p{
    margin-left: 40px;
    font-size: 11px;
}
.data_table{
    margin: 10px 0px 0px 40px;
}

.data_table tr td{
    padding: 5px 20px 5px 0px;
    font-size: 15px;
    
}

.com-1{
    width: 50%;
    height: 100%;
    background-color: #104477;
    border-radius: 10px;
    margin-right: 5px;
    color: white;
    position: relative;
}
.com-2{
    width: 50%;
    height: 100%;
    background-color: #396692;
    border-radius: 10px;
    color: white;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
}
.com-2::-webkit-scrollbar{
    display: none;
}
.com-21{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}
.com-21 input{
    margin: 30px 0px 0px 40px;
    background: none;
    border: none;
    border-bottom: 2px groove white;
    height: 40px;
    outline: none;
    font-size: 15px;
    
}
.com-21 input:active{
    border: none;
    outline: none;
}
.com-21 button{
    margin-left:30px;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.com-21 button:active{
    box-shadow: none;
}
.com-22{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-color: #ce8282;
}
.res1{
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    right:-30px;
    top: 70px;
    border-radius: 10px;
    overflow: scroll;
    display: none;
}
.res1::-webkit-scrollbar{
    display: none;
}
.res1 .res-list1{
    position: absolute;
    color: black;
    font-size: 0.85em;
    width: 100%;
    
}
.res1 .res-list1 li{
    padding: 5px;
    list-style-type: none;
    /* border-top: 1px solid gray; */

    height: 30px;
    overflow-x: scroll;
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
.res1 .res-list1 li::-webkit-scrollbar {
    display: none;
}
.res1 .res-list1 li:hover{
    background-color: rgb(236, 236, 236);
}

/* footer */
.footer{
    width: 100%;
    height: 30vh;
    position: aboslute;
    left: 0px;
    bottom:0px;
    background-color: #05386B;
}


@media screen and (max-width: 1200px){
    .nav-link{
        width: 60%;
    }

}
@media screen and (max-width: 850px){
    body{
        /* overflow-x: hidden; */
        min-width: 435;
    }
    .nav-link{
        z-index: 2;
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 40%;
        top:8vh;
        background-color: rgb(78, 83, 81);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transform: translateX(100%);
        transition:transform 0.5s;
        padding: 5%;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    /* .nav-link input{
        width: 170px;
    } */
    .nav-link li{
        margin: 5%;
    }
    .chart-info{
        margin-top: 50px;
        min-height: 300px;
    }
    .chart-container{
        min-height: 350px;
    }
    .stock-compare{
        min-height: 250px;
    }
    

    main{
        flex-direction: column;
        height: auto;
    }
    
}

@media screen and (max-width : 655px){
    .nav-link input{
        width: 200px;
    }
    .res{
        width: 200px;
    }
}
@media screen and (max-width : 500px){
    .nav-link input{
        width: 170px;
    }
    .res{
        width: 170px;
    }
}

@media screen and (max-width: 1000px){

    .chart-graph{
        width: 100%;
        height: 80vh;
    }

    .chart-info{
        margin-top: 50px;
        height: 450px;
        width: 100%;
    }
    .chart-container{
        min-height: 350px;
    }
    .stock-compare{
        min-height: 270px;
    }
    main{
        flex-direction: column-reverse;
        height: auto;
    }
}

.nav-active{
    
    transform: translateX(0%);
}

.l1{

    transform: rotateZ(50deg);
}
.l2{
    display: none;
}
.l3{
    transform: rotateZ(-50deg);
}
  

#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    box-sizing: border-box;

    z-index: 3;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#overlay div{
    height: 200px;
    width: 350px;
    border-radius:4px;
    background-color: white;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#overlay div h3{
    flex-grow: 1;
}
#overlay div p{
    flex-grow: 2;
}

#overlay div button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #dc3545;
    border: none;
    color: #fff;
    height: 30px;
    width: 50px;
    border-radius: 2px;
    transition: all 0.3s;
}

#overlay div button:active{
    background-color: seagreen;
}

/*Loading animation*/
#anime-box{
    height: 50px;
    width: 50px;
    border: 5px solid lightgrey;
    border-bottom-color: #05386B;
    box-sizing: border-box;
    animation: outer 1s infinite ease-in-out;
    border-radius: 50%;

}


@keyframes outer {
    0%{
        transform: rotate(0deg);
    }
    100% { transform: rotate(360deg);}
}

