*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
*:focus{
    cursor: none;
}


body::-webkit-scrollbar {
    display: none;
}
body{
    font-family:"Roboto";
    background-image: url("../sources/Pictures/money-4.jpg");
    /* background-color: #5CDB95; */
    min-width: 636px;
}
.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;}
.boxShadow2{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.textShadow{
    text-shadow: 0px 1px 7px rgb(76, 80, 76);
}

/* Navbar */
#navbar{
    width: 100%;
    height: 70px;
    
    background-color:#05386B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-size: 1.7em;
    letter-spacing: 1.5px;
    /* position: fixed; */
    z-index: 4;
    padding-top: 5px;

    

}
.logo{
    list-style-type: none;
    
}
.logo h1{
    font-family: cursive;
    font-weight: 900;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.nav-link{
    display: flex;
    justify-content:center;
    width: 40%;
    list-style-type: none;
}
.nav-link li{
    margin: 0px 10px 0px 10px;
}
.nav-link input{
    height: 40px;
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color:  transparent;
    color: #05386B;
    text-align: center;
    border-radius: 0px;
    transition: all 0.3s;
    font-size: 17px;
    text-transform: capitalize;
}

/* Search and result */
.res{
    width: 250px;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.1s;
    overflow: scroll;
    z-index: 4;
    font-size: 1.3em;
    
}
.res::-webkit-scrollbar{
    display: none;
}
.res-list{
    position: absolute;
    color: black;
    font-size: 0.45em;
    width: 100%;
    display: none;
}
.res-list li{
    padding: 5px;
    list-style-type: none;
    /* border-top: 1px solid gray; */

    height: 30px;
    overflow-x: scroll;
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
.res-list li::-webkit-scrollbar {
    display: none;
}
.res-list li:hover{
    background-color: rgb(236, 236, 236);
}


.nav-link ::placeholder{
    color: lightgrey;
}
.nav-link button{
    height: 40px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color:white;
    cursor: pointer;
    color:black;
    font-weight: bold;
    font-size: 20px;
}
.nav-link button:active{
    background-color:whitesmoke ;
}
#buy{
    padding: 5px;
    width: 100px;
    margin-left: 200px;
    background-color: seagreen;
    color: white;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.2s;
}
.burger{
    display: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
}




/* main */
main{
    height: 100vh;
    width: 90vw;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
    position: relative;
}
.chart-info{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 95%;
    width: 30%;
    
    position: relative;
    border-radius: 10px;
    
}
#info-box{
    
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 1s;
}
#info-box::-webkit-scrollbar{
    display: none;
}


.info{
    background-color: #05386b;
    color: white;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    padding: 20px 15px 20px 25px;
    overflow: auto;
    
}

.info::-webkit-scrollbar{
    display: none;
}
.info:nth-child(2){
    background-color:#edf5e1;
    color: #05386b;
}
.c-button{
    position: absolute;
    right: 3%;
    top:45%;
    height: auto;
    width: auto;
    font-size: 40px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.chart-info h2{
    font-size: 33px;
}

.chart-info::-webkit-scrollbar{
    display: none;
}
.chart-graph{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#myChart{
    box-sizing:border-box;
}
.chart-container{
    margin-top: 20px;
    position: relative; 
    height:55%; 
    width:100%;
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 2px #888888; */

}
#chart-overlay{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-range{
    display:flex;
    width: 250px;
    justify-content: space-around;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    /* box-shadow: 0px 0px 1px 1px #888888; */
    z-index: 2;
    
}
.time-range li{
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    width: 50px;
    border-right: 1px solid black;
    transition: all 0.3s;
}

.stock-compare{
    margin-top: 20px;
    height:37%; 
    width:100%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 2px 2px #888888; */
    display: flex;
    flex-direction: column;
    position: relative;
}
.comp{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    position: relative;
}
.comp h2{
    text-align: left;
    margin: 30px 0px 0px 40px;
    font-size: 33px;
}
.comp p{
    margin-left: 40px;
    font-size: 11px;
}
.data_table{
    margin: 10px 0px 0px 40px;
}

.data_table tr td{
    padding: 5px 20px 5px 0px;
    font-size: 15px;
    
}

.com-1{
    width: 50%;
    height: 100%;
    background-color: #083d72;
    border-radius: 10px;
    margin-right: 5px;
    color: white;
    position: relative;
}
.com-2{
    width: 50%;
    height: 100%;
    background-color: #0b4279;
    border-radius: 10px;
    color: white;
    display: flex;
    overflow: hidden;
}

.com-2::-webkit-scrollbar{
    display: none;
}
.com-21{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}
.com-21 input{
    margin: 30px 0px 0px 40px;
    background: none;
    border: none;
    border-bottom: 2px groove white;
    height: 40px;
    outline: none;
    font-size: 15px;
    color: white;
    
}
.com-21 input:active{
    border: none;
    outline: none;
}
.com-21 button{
    margin-left:30px;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.com-21 button:active{
    box-shadow: none;
}
.com-22{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-color: #edf5e1;
    color: #0b4279;
    overflow:auto;
}
.com-1::-webkit-scrollbar,.com-22::-webkit-scrollbar{
    display: none;
}
.res1{
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    right:-30px;
    top: 70px;
    border-radius: 10px;
    overflow: scroll;
    display: none;
}
.res1::-webkit-scrollbar{
    display: none;
}
.res1 .res-list1{
    position: absolute;
    color: black;
    font-size: 0.85em;
    width: 100%;
    
}
.res1 .res-list1 li{
    padding: 5px;
    list-style-type: none;
    /* border-top: 1px solid gray; */

    height: 30px;
    overflow-x: scroll;
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
.res1 .res-list1 li::-webkit-scrollbar {
    display: none;
}
.res1 .res-list1 li:hover{
    background-color: rgb(236, 236, 236);
}

/* footer */
#footer{
    width: 100%;
    height: 30vh;
    position: aboslute;
    left: 0px;
    bottom:0px;
    background-color: #379683;
    color: #edf5e1;
}

#f-container{
    width: 80%;
    margin: auto;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
}
#f-container div{
    height: 100%;
    width: 30%;
    /* background-color: white; */
    padding: 20px;
    border-radius: 5px;
}
#f-container div h2{
    text-align: center;
}
#About p{
    margin-top: 20px;
}
#follow table{
    margin: auto;
    margin-top: 30px;
}
#follow table tr td{
    padding: 7px;
}
#follow .fab{
    cursor: pointer;
}
#Creators table{
    margin: auto;
    margin-top: 30px;
}
#Creators table tr td{
    padding: 7px;
}



#f-container1{
    width: 100%;
    text-align: center;
    background-color: #379683;
    padding-bottom: 20px;
}
#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    box-sizing: border-box;

    z-index: 3;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(2px); */

}

#overlay #alert-box{
    height: 200px;
    width: 350px;
    border-radius:4px;
    background-color: white;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#alert-box h3{
    font-size: 25px;
}
#alert-box p{
    margin-top: 20px;
}
#buy-box{
    height: 300px;
    width: 500px;
    background-color:#05386B ;
    border-radius: 5px;
    padding: 35px;
    color: white;
    /* backdrop-filter: blur(2px); */
    position: relative;
}
#buy-box h2{
    font-size: 35px;
    font-weight: 600;
}
.buy-logo{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 25px;
    transition: all 0.2s;
}
.buy-logo:hover{
    color: seagreen;
}
#c-list{
    display: flex;
    align-items:center;
    flex-direction: column;
}
#c-list div{
    height: 50px;
    width: 400px;
    background-color: #2865a1;
    color: white;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s;
}
#c-list div:hover{
    background-color: seagreen;
}

#payment{
    height: 630px;
    width: 400px;
    background-color: seagreen;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    color: white;
}
#payment h2{
    text-align: center;
    font-size: 33px;
}
#payment h3{
    font-size: 27px;
}
#payment p{
    margin-top: 20px;
}
#payment p:nth-child(5){
    margin-top: 30px;
}
#payment p:nth-child(7){
    margin-top: 5px;
}
#payment p:nth-child(8){
    margin-top: 30px;
}
#payment input{
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    margin-top: -5px;
}

.buy-logo:nth-child(3){
    top:92px;
}
.buy-logo:nth-child(2):hover{
    color: white;
}
#payment-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
}
#payment-form input{
    margin: 20px 0px 20px 0px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-size: 15px;
}
#payment-form input::placeholder{
    color: lightgrey;
}
#payment-form input[type=number]::-webkit-inner-spin-button{
    /*Removing arrow button from input type number*/
    display: none;
}


#overlay div button{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #dc3545;
    border: none;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    transition: all 0.25s;
    cursor: pointer;
    font-size: 17px;
}
#overlay div button:hover{
    border-radius: 50%;
    transform: rotate(180deg);
    box-shadow: none;
}

#overlay div button:active{
    background-color: seagreen;
}

#payment-form button{
    position: relative !important;
    margin: auto;
    cursor: pointer;
    height: 50px !important;
    width: 200px !important;
    background-color: rgb(32, 134, 32) !important;
    color:white !important;
    font-size: 30px !important;
    font-weight: 400 !important;
    border-radius: 5px !important;
    transition: none !important;
}
#payment-form button:hover{
    transform: rotate(0deg) !important;
}

#payment-complete{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#payment-complete img{
    width: 135px;
    height: 100px;
}
#payment-complete h3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#payment-complete p{
    margin-top: 20px;
    font-style: italic;
}

/*Loading animation*/
#anime-box{
    height: 50px;
    width: 50px;
    border: 5px solid lightgrey;
    border-bottom-color: #05386B;
    box-sizing: border-box;
    animation: outer 1s infinite ease-in-out;
    border-radius: 50%;

}


@keyframes outer {
    0%{
        transform: rotate(0deg);
    }
    100% { transform: rotate(360deg);}
}

@media screen and (max-width:1400px){
    #buy{
        margin-left: 80px;
    }
}

@media screen and (max-width: 1200px){
    .nav-link{
        width: 55%;
    }
    #buy{
        margin-left: 90px;
    }

}

@media screen and (max-width: 1042px){

    .chart-graph{
        width: 100%;
        height: 80vh;
    }

    .chart-info{
        margin-top: 220px;
        height: 450px;
        width: 100%;
    }
    .chart-container{
        min-height: 500px;
    }
    .stock-compare{
        min-height: 270px;
    }
    main{
        flex-direction: column-reverse;
        height: auto;
    }
    #buy{
        margin-left: 40px;
    }
}
@media  screen and (max-width:970px) {
    .chart-container{
        min-height: 450px;
    }
    .chart-info{
        margin-top: 180px;
    }
    #buy{
        margin-left: 15px;
    }
}

@media screen and (max-width: 865px){
   
    main{
        min-width: 636px;
    }
    .nav-link{
        z-index: 4;
        position: fixed;
        right: 0px;
        height: 100vh;
        width: 40%;
        top:0px;
        background-color: #184b7e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transform: translateX(100%);
        transition:transform 0.5s;
        padding: 5%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    }
    .search-res{
        margin-top: 40px;
    }
    .nav-link button{
        width: 150px;
    }
    #buy{
        margin-left: 0px;
        width: 150px;
    }
    .burger{
        z-index: 5;
        display: block;
        cursor: pointer;
    }

    .nav-link li{
        margin: 5%;
    }
    .chart-info{
        margin-top: 95px;
        min-height: 300px;
    }
    .chart-container{
        min-height: 380px;
    }
    .stock-compare{
        min-height: 250px;
    }
    .com-1,.com-2{
        height: 105%;
    }

    main{
        height: 1244px;
    }
    
    #footer{
        min-height: 340px;
    }
    #f-continer{
        min-height: 300px;
        height: auto;
    }
    
}

@media screen and (max-width : 655px){

    .nav-link input{
        width: 200px;
    }
    .res{
        width: 200px;
    }
}





.nav-active{
    
    transform: translateX(0%);
}

.l1{

    transform: rotateZ(50deg);
}
.l2{
    display: none;
}
.l3{
    transform: rotateZ(-50deg);
}