#myCanvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.bg-custom-1 {
    /* border-radius: 10px; */
    opacity: 1;
    height: 60px;
    align-items: center;
    background-color: #E71989;
    /* background-image: linear-gradient(to right, rgb(253, 253, 253,1),rgba(88, 181, 235, 1));  */

}


#outer {
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 30px;
    font-size: 1.2em;
}

#formdiv {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 1vh;
    border-radius: 5%;
    border: solid 1px rgba(230, 245, 248, 0.3);
    /* width: 32vw; */
    width: 500px;
    height: 550px;
    transition: all 100ms ease-out 0s;
    box-shadow: rgb(132, 134, 136) 1px 1px 15px;
    overflow: visible;
}

#button-div {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 1.5em;
}

#seperator {
    height: 8vh;
    width: 1px;
    border: solid 4px rgba(230, 245, 248, 0.9);
    border-radius: 10%;
}

.buttons {
    height: 50px;
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: solid 2px red; */
    transition-property: all;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
}

.buttons:hover {
    font-size: 1.2em;
}

#inner_formdiv { 
    border-top: solid 4px rgba(230, 245, 248, 0.9);
    border-bottom: solid 4px rgba(230, 245, 248, 0.9);
    height: 420px;
    width: 470px;
    /* display: flex; */
    padding-bottom: 20px;
    overflow: hidden;
}

.forms{
    display: inline-block;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#login_form{
    margin-top: 300px;
}

#table, #login_table {
    margin-left: 1.5vw;
    margin-top: 1.8vh;
}

.input-col {
    padding-bottom: 15px;
}

.lables {
    font-size: 0.85em;
}

.inputs {
    width: 420px;
}

#register_div {
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#btn{
    margin-top: 8px;
    border: 0;
    color: red;
    background-color: white;
    border: solid 2px red;
    border-radius: 20px;
}